# Données brutes — ne jamais commiter
data/raw/
data/processed/
*.csv

# Environnement Python
venv/
venv311/
__pycache__/
*.pyc
*.pyo
.env

# Jupyter checkpoints
.ipynb_checkpoints/

# MLflow
mlruns/
mlflow.db
mlartifacts/

# OS
.DS_Store
